table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin: auto;
    background-color: white;
    opacity: .9;
}
#mytable{
    margin: 20px;
}

.container{
    display: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 80vw;
    height: 30vh;
    background-color: darkgray;
    border-radius: 25px;
    z-index: 10;
}

#search{
    width:50vw;
    left:0;
    right:0;
    margin: auto;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  #headder{
      width: 100vw;
      height:10vh;
      text-align: center;
      background-color: antiquewhite;
      font-size: 40pt;
      font-family: 'Comic Sans MS';
  }
  body{
      background-image: url('http://sfwallpaper.com/images/claptrap-wallpaper-6.jpg');
  }