table, th, td {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    margin: auto;
    opacity: .9;
}

body h1 {
    text-align: center
}

th {
    background-color: dodgerblue;
}

table thead th {
    color: white;
}

#mytable {
    margin: 20px;
}

.container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 30vh;
    background-color: darkgray;
    border-radius: 25px;
    z-index: 10;
}

#search {
    width: 50vw;
    left: 0;
    right: 0;
    margin: auto;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#headder {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    font-size: 40pt;
    font-kerning: unset;
    font-weight: 900;
}